<div class="container" style="margin: 30px;">
<h1>Stupid Coach</h1>
<div class="question" style="margin-top: 20px;">
<p><%=@question%></p>
<p><i>Your question</i></p>
</div>
<br>
<div class="answer">
<p><%=@answer%></p>
<p><i>My answer</i></p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
</div>
